/******************************************************************************
* fancy
******************************************************************************/
span.fancy-more {
    position: absolute;
    bottom:10px;
    left:10px;
    width:30px;
    height:30px;
    display:block;
    background: url(../img/slider-more.png) no-repeat top left;
    opacity:0;
    transition-duration: 0.4s;
    transition-property: opacity;
}

.fancy-image-link {
    position: relative;
    display:block;
}
.fancy-image-link:hover span.fancy-more {
    opacity:0.8;
}

a.fancy-image-2col {
	width:50%;
	float:left;
	display:block;
}
a.fancy-image-3col {
	width:33%;
	float:left;
	display:block;
}
